.scrolledMobile {
   display: none;
}

@media (max-width: 1024px) {
    .scrolledMobile{
        display: flex;
    
        position: fixed;
        width: 100%;
        background-color: transparent;
        background-color: var(--blanco);
        bottom: 0;
        right: 0;
        left: 0;
        height: 3.2rem;
        align-items: center;
        justify-content: space-between;
        padding: 10px 10%;
        gap: 2rem;
    
       z-index: 10000;
       box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.321);
 
}
    
    .scrolledMobile a{
        font-size: 20px;
       
        color: #aeadad
    }
    
    .active{
        color: var(--color1)!important;
       
    }

    .plus{
        background-color: var(--color1);
        color: var(--blanco);
        padding: 15px 15px;
        width: 2.8rem;
        height:  2.8rem;
        border-radius: 100%;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.321);
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        border: none;
        font-size: 20px;
}


.modalNavMobile {
    background-color: var(--blanco);
    display: flex;
    position: absolute;
    width: 100%;
    height: 50vh;
  
    right: 0;
    left: 0;
    bottom: -1.8%;
    padding: 20px 5%;
    flex-direction: column;
    gap: 2rem;
    border-radius: 10px 10px 0px 0px;
   
}
.modalNavMobileContain{
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.355);
   
    display: flex;
    position: absolute;
    width: 100%;
   
    right: 0;
    left: 0;
    bottom: 3.2rem;
   
    flex-direction: column;
    gap: 2rem;
    border-radius: 10px 10px 0px 0px;
   
}

.modalNavMobile a{
    font-size: 16px;
}
}

@media screen and (max-width: 967px) and (orientation: landscape){
    .modalNavMobile {
        background-color: var(--blanco);
        display: flex;
        position: absolute;
        width: 100%;
        height: 80vh;
      
        right: 0;
        left: 0;
        bottom: -3%;
        padding: 50px 5%;
        flex-direction: column;
        gap: 2rem;
        border-radius: 10px 10px 0px 0px;
       
    }
}