.imgPrincipal{
    width: 70vh;
    height: 70vh;
    background: linear-gradient(90deg, #fff, #d2d1d1, #e8e6e6);
    background-size: 400% 400%;
    animation: gradientMove 1s linear infinite;
    -webkit-animation: gradientMove 1s linear infinite;
    border-radius: 10px;
}

.imgsDetail{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
}
.imgsDetail span{
    background: linear-gradient(90deg, #fff, #d2d1d1, #e8e6e6);
    background-size: 400% 400%;
    animation: gradientMove 1s linear infinite;
    -webkit-animation: gradientMove 1s linear infinite;
    border-radius: 10px;
    width: 20vh;
    height: 20vh;
    border-radius: 10px;
}
.textTitle{
    background: linear-gradient(90deg, #fff, #d2d1d1, #e8e6e6);
    background-size: 400% 400%;
    animation: gradientMove 1s linear infinite;
    -webkit-animation: gradientMove 1s linear infinite;
    border-radius: 10px;
    width: 100vh;
    height: 5vh;
    border-radius: 10px;
}
.textDescript{
    background: linear-gradient(90deg, #fff, #d2d1d1, #e8e6e6);
    background-size: 400% 400%;
    animation: gradientMove 1s linear infinite;
    -webkit-animation: gradientMove 1s linear infinite;
    border-radius: 10px;
    width: 100vh;
    height: 2vh;
    border-radius: 10px;
}
