.heroContain {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 2rem;
  
    border: none;
    justify-content: space-between;
    align-items: center;
    padding-top: 9vh;
  
  }
  
  #swiper_container_img{
      width: 100%;
      height: 70vh;
      overflow: hidden;
     
  }
  
  #swiperImg img{
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
  
  @media (max-width: 1000px){
      .heroContain {
          padding: 0px 3%;
          padding-top: 9vh;
         
      }
  
      #swiper_container_img{
          width: 100%;
          height: 40vh;
          overflow: hidden;
          border-radius: 10px;
      }
  }
  @media (max-width: 1000px){
      #swiper_container_img{
          width: 100%;
          height: 20vh;
        
      }
  }