.userInfoContainer img{
     width: 40px;
     height: 40px;
     border-radius: 100%;
     object-fit: cover;
}
@media (max-width: 510px){

    .userInfoContainer img{
        width: 30px;
        height: 30px;
        border-radius: 100%;
        object-fit: cover;
   }
   
}